<template>
    <section>
        <div class="container ">
            <h1 class="subtitle carouselTitle">{{title}}</h1>
        </div>
        <div class="container">
            <b-carousel-list :data="objectsToShow" :items-to-show="shownCards" :items-to-list="shownCards" :key="shownCards" :arrow-hover="false">
                <template slot="item" slot-scope="props">
                    <div class="is-7 categoryBlock">
                        <HolComCard :name="props.list.name" :img-url="props.list.imageUrl" :isCategory="isCategory" :uuId="isCategory ? null : props.list.uuId"/>
                    </div>
                </template>
            </b-carousel-list>
        </div>
    </section>
</template>

<script>
    import HolComCard from "../HolComCard.vue";
    export default {
        data() {
            return {
                categories: [],
                shownCards: 0
            }
        },
        components:{
            HolComCard
        },
        props:{
            title: String,
            objectsToShow: Array,
            isCategory: {
                type: Boolean,
                default: false
            }
        },
        created() {
            //weird fix
            setTimeout(() => {
                this.handleResized();
            }, 750);

            window.addEventListener("resize", this.handleResized);
        },
        destroyed() {
            window.removeEventListener("resize", this.handleResized);
        },
        methods: {
            handleResized(){
                let width = window.innerWidth;
                this.shownCards = (width >= 1024) ? 8 : (width >= 850) ? 6 : (width >= 600) ? 5 : (width >= 550) ? 4 : 3;
            }
        }
    }
</script>
<style scoped>
    .categoryBlock{
        display: inline-block;
    }

    .carouselTitle{
        text-align: left;
    }

    @media only screen and (max-width: 1024px) {
        .categoryBlock{
            width: 120px;
        }
    }
</style>
