<template>
    <div>
        <b-carousel v-if="images.length > 0" :indicator-inside="false" :autoplay="false">
            <b-carousel-item v-for="(item, i) in images" :key="i">
            <span class="image main-image-container">
              <img class="main-image" :src="getImage(item)">
            </span>
            </b-carousel-item>
            <template slot="indicators" slot-scope="props">
            <span class="al image preview-image">
                <img :src="getImage(images[props.i])" :title="props.i">
            </span>
            </template>
        </b-carousel>

        <b-carousel v-else :indicator-inside="false" :autoplay="false">
            <b-carousel-item>
            <span class="image main-image-container">
              <img class="main-image" :src="require('../../assets/images/no-image-available.png')">
            </span>
            </b-carousel-item>
        </b-carousel>
    </div>

</template>

<script>
export default {
    methods:{
        getImage(imgName){
            return "https://res.cloudinary.com/degktxldj/image/upload/v1590929460/" + imgName;
        }
    },
    props:{
        images: Array
    }
}
</script>

<style scoped>
    .is-active .al img {
        filter: grayscale(0%);
    }

    .al img {
        filter: grayscale(100%);
    }

    .main-image{
        height: 400px !important;
    }

    .main-image-container{
        display: flex !important;
        justify-content: center !important;
    }

    .preview-image{
        height: 80px;
    }

    img{
        max-height: 100% !important;
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
</style>