<template>
    <section>
        <div class="container ">
            <h1 class="subtitle carouselTitle">{{title}}</h1>
        </div>
        <div class="container">
            <b-carousel-list :data="categories" :items-to-show="shownCards" :items-to-list="shownCards" :key="shownCards" :arrow-hover="false">
                <template slot="item" slot-scope="props">
                    <div class="is-7 categoryBlock">
                        <HolComCard :name="props.list.name" :img-url="props.list.imageUrl"/>
                    </div>
                </template>
            </b-carousel-list>
        </div>
    </section>
</template>

<script>
    import HolComCard from "../HolComCard";
    export default {
        name: "RecommendedProductCarousel",
        data() {
            return {
                categories: [],
                shownCards: 0
            }
        },
        components:{
            HolComCard,
            CategoryCard
        },
        props:{
            title: String
        },
        created() {
            //weird fix
            setTimeout(() => {
                this.handleResized();
            }, 750);

            window.addEventListener("resize", this.handleResized);
        },
        destroyed() {
            window.removeEventListener("resize", this.handleResized);
        },
        methods: {
            handleResized(){
                let width = window.innerWidth;
                this.shownCards = (width >= 1024) ? 8 : (width >= 850) ? 6 : (width >= 600) ? 5 : (width >= 550) ? 4 : 3;
            }
        },
        beforeMount(){
            this.$apiService.getCategories().then(response => {
                if(response.status === 200) this.categories = response.data;
                else this.$helpers.showErrorToaster("Error whilst getting categories, please try again!", "is-top");
            });
        }
    }
</script>

<style scoped>

</style>