<template>
    <b-modal @close="onCancel" :active.sync="isModalActive">
        <form @submit.prevent="login" ref="inputField">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm credentials</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Email">
                        <b-input
                                type="email"
                                placeholder="Your email"
                                required
                                v-model="credentials['email']">
                        </b-input>
                    </b-field>

                    <b-field label="Password">
                        <b-input
                                type="password"
                                password-reveal
                                placeholder="Your password"
                                required
                                v-model="credentials['password']">
                        </b-input>
                    </b-field>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="onCancel">Close</button>
                    <button class="button is-primary">Login</button>
                </footer>
            </div>
        </form>
    </b-modal>
</template>

<script>
    export default {
        name: "ConfirmCredentialsModal",
        data(){
            return{
                credentials: {}
            }
        },
        props:{
            isModalActive: Boolean,
            onSuccess: Function,
            onFailed: Function,
            onCancel: Function
        },
        methods:{
            login(){
                let validInput = this.$refs.inputField.checkValidity();

                if(validInput){
                    this.$apiService.login(this.credentials).then((response) => {
                        if(response.status === 200) this.onSuccess(response);
                        else this.onFailed();
                    }).catch( () => {
                        this.onFailed();
                    });
                } else this.$helpers.showDialog('Please fill in all field', "Please make sure you've filled in all fields", 'OK', 'is-info', true);
            }
        }
    }
</script>

<style scoped>

</style>