<template>
    <div class="editProfile">
        <ConfirmCredentialsModal v-on:toggleModal="toggleModal" :on-success="validCredentials" :on-failed="invalidCredentials" :on-cancel="toggleModal" v-bind:isModalActive="this.modalIsActive"/>
        <div class="editField">
            <div class="subtitle">Edit profile</div>

            <form class="inputField" ref="inputField">
                <b-field label="Name">
                    <b-input placeholder="Name" minlength="2" maxlength="100" v-model="newUserData['name']" />
                </b-field>
                <b-field label="City">
                    <b-input placeholder="City" minlength="2" maxlength="100" v-model="newUserData['city']"/>
                </b-field>
                <b-field label="Address">
                    <b-input placeholder="Address" minlength="2" maxlength="100" v-model="newUserData['address']"/>
                </b-field>
                <b-field label="Zip code">
                    <b-input placeholder="Zip code" minlength="2" maxlength="10" v-model="newUserData['zipCode']"/>
                </b-field>
            </form>

            <b-button icon-left="plus" type="is-info" @click="updateUserData" >Update data</b-button>
        </div>
    </div>
</template>

<script>
    import enums from "../../enums";
    import ConfirmCredentialsModal from "./ConfirmCredentialsModal";

    export default {
        name: "EditProfile",
        components: {ConfirmCredentialsModal},
        data(){
            return {
                modalIsActive: false,
                newUserData: {}
            }
        },
        methods:{
            toggleModal(){
                this.modalIsActive = !this.modalIsActive;
            },
            updateUserData(){
                let validInput = this.$refs.inputField.checkValidity();

                if(!validInput) this.showInvalidInputDialog();
                else this.toggleModal();
            },
            showInvalidInputDialog(){
                this.$helpers.showDialog('Invalid input!', "Please check if you've filled in all fields correctly", "OK", 'is-info', true);
            },
            validCredentials(){
                this.newUserData = {...this.userData, ...this.newUserData};

                this.$apiService.updateUserData(this.newUserData).then(response => {
                    if(response.status === enums.apiStatus.OK) {
                        this.$helpers.showSuccessToaster('Successfully updated user data!', 'is-top-right');
                        this.$store.dispatch('setProfileData', this.newUserData);
                    }
                    else this.$helpers.showErrorToaster('Error updating user data!', 'is-top-right');
                });

                this.toggleModal();
            },
            invalidCredentials(){
                this.$helpers.showErrorToaster('Invalid credentials!', 'is-top-right');
            }
        },
        beforeMount(){
            this.newUserData = JSON.parse(JSON.stringify(this.userData));
        },
        computed:{
            userData(){
                return this.$store.getters.getProfileData;
            }
        }
    }
</script>

<style scoped>
    .editProfile{
        display: flex;
    }

    .inputField{
        width: 100%;
    }

    .editField{
        width: 80%;
    }

    .objectDetails{
        width: 50%;
    }

    @media screen and (max-width: 1024px) {
        .editField{
            width: 100%;
        }
    }

</style>