<template>
    <div>
        <OrderOverview :products="selectedOrderProducts" :isModalActive="isOrderModalActive" v-on:toggleModal="toggleOrderModal"/>
        <div class="subtitle">Order history</div>
        <ul>
            <li class="space-between shortProductInfo" v-for="(order, i) in orders" :key="i" @click="showOrderModal(order.products)">
                <cld-image class="cld-image" width="100" :public-id="order.products[0].product.images[0] ? order.products[0].product.images[0] : imageUnavailable" alt="Image not available" />
                <p><strong>{{order.address}}, {{order.city}} - {{new Date(order.date).toUTCString()}}</strong></p>
                <p><strong>€{{getTotalPrice(order.products)}}</strong></p>
            </li>
        </ul>
    </div>

</template>

<script>
    import OrderOverview from "./OrderOverview";
    export default {
        name: "OrderHistory",
        components: {OrderOverview},
        data(){
            return {
                orders: {},
                imageUnavailable: this.$cloudinary.getImageUnavailable(),
                selectedOrderProducts: [],
                isOrderModalActive: false
            }
        },
        methods:{
            showOrderModal(products){
                this.selectedOrderProducts = products;
                this.toggleOrderModal();
            },
            toggleOrderModal(){
                this.isOrderModalActive = !this.isOrderModalActive;
            },
            getTotalPrice(products){
                let totalPrice = 0;
                for(let x = 0; x < products.length; x++){
                    totalPrice += products[x].boughtPrice;
                }

                return Math.round((totalPrice + Number.EPSILON) * 100) / 100;
            }
        },
        beforeMount(){
            this.$apiService.getOrderHistory().then(response =>{
                console.log(response)
                this.orders = response.data;
            }).catch(() =>{
                this.$helpers.showErrorToaster('Error retrieving order history, please try again!', 'is-top-right')
            })
        }
    }
</script>

<style scoped>
    .shortProductInfo {
        border-bottom: 1px solid black;
        padding: 10px;
        height: 130px;
    }

    .shortProductInfo:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .space-between{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: 950px) {
        .cld-image{
            display: none;
        }
    }

</style>