<template>
    <b-modal @close="toggleModal" :active.sync="isModalActive">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Order overview</p>
            </header>

            <section class="modal-card-body">
                <div class="space-between">
                    <p class="subtitle"><strong>Product</strong></p>
                    <p class="subtitle"><strong>Quantity</strong></p>
                    <p class="subtitle"><strong>Price</strong></p>
                </div>

                <ul>
                    <li class="space-between shortProductInfo" v-for="(orderItem, i) in products" :key="i">
                        <p class="productTitle">{{orderItem.product.title}}</p>
                        <p class="productQuantity">{{orderItem.quantity}}</p>
                        <p class="productPrice">€{{orderItem.product.price * orderItem.quantity}}</p>
                    </li>
                </ul>
            </section>

            <footer class="modal-card-foot">
                <button class="button" type="button" @click="toggleModal">Close</button>
            </footer>
        </div>

    </b-modal>
</template>

<script>
    export default {
        name: "OrderOverview",
        props:{
            products: Array,
            isModalActive: Boolean
        },
        data(){
            return {
                imageUnavailable: this.$cloudinary.getImageUnavailable()
            }
        },
        methods:{
            toggleModal(){
                this.$emit("toggleModal");
            }
        }
    }
</script>

<style scoped>
    .shortProductInfo {
        border-bottom: 1px solid black;
    }

    .space-between{
        display: flex;
        justify-content: space-between;
    }

    .productTitle{
        width: 48%;
    }

    .productQuantity{
        width: 4%;
        text-align: center;
    }

    .productPrice{
        width: 48%;
        text-align: right;
    }
</style>