<template>
    <b-message :title="title" :closable="false" aria-close-label="Close message">
<!--        <p><strong>Price</strong></p>-->
<!--        <p>{{product.price}}</p><p>-->
<!--        <strong>Stock</strong></p>-->
<!--        <p>{{product.stock}}</p><p>-->
<!--        <strong>Article number</strong></p>-->
<!--        <p>{{product.articleNumber}}</p><p>-->
<!--        <strong>Title</strong></p>-->
<!--        <p>{{product.title}}</p><p>-->
<!--        <strong>Brand</strong></p>-->
<!--        <p>{{product.brand}}</p><p>-->
<!--        <strong>Color</strong></p>-->
<!--        <p>{{product.color}}</p><p>-->
<!--        <strong>Material</strong></p>-->
<!--        <p>{{product.material}}</p><p>-->
<!--        <strong>Size</strong></p>-->
<!--        <p>{{product.size}}</p><p>-->
<!--        <strong>On sale</strong></p>-->
<!--        <p>{{product.onSale}}</p>-->
<!--        <p><strong>Categories</strong></p>-->
<!--        <span v-for="(category, i) in product.categories" :key="i" >{{category.name}}{{i !== product.categories.length-1 && product.categories.length > 1 ? ', ' : ''}}</span>-->
<!--        <p><strong>Description</strong></p>-->
<!--        <p>{{product.description}}</p>-->
        <div v-for="(key, i) in Object.keys(object)" :key="i">
            <p><strong>{{key.charAt(0).toUpperCase() + key.slice(1)}}</strong></p>
            <p v-if="object[key] && typeof object[key] === 'object'"> <ObjectDetails :title="key.charAt(0).toUpperCase() + key.slice(1)" :object="object[key]" /> </p>
            <p v-else-if="Array.isArray(object[key])">{{object[key].map(item => item).join(", ")}}</p>
            <p v-else-if="(!object[key] || object[key].length === 0) && typeof object[key] !== 'boolean'"><em>This field is empty</em></p>
            <p v-else>{{object[key]}}</p>
        </div>
    </b-message>
</template>

<script>
    export default {
        name: "ObjectDetails",
        props:{
            object: Object,
            title: String
        }
    }
</script>

<style scoped>

</style>