<template>
    <div>
        <b-message type="is-info" has-icon>
            <strong>
                Because this application is a project for school, there will be no payment system implemented.
                What you see below is not implemented in the application and will not affect your order.
            </strong>
        </b-message>

        <div class="paymentField">
            <div class="is-50">
                <div class="subtitle">Fill in your coupon code for discounts!</div>
                <div class="couponField">
                    <b-input class="myInput" placeholder="Coupon code" v-model="couponCode"></b-input>
                    <b-button type="is-info" icon-left="plus" @click="addCoupon" >Add</b-button>
                </div>

                <div v-if="coupons.length > 0">
                    <p><strong>Current coupons:</strong></p>
                    <b-taglist>
                        <b-tag class="myTag" v-for="(coupon, i) in coupons" :key="i" closable type="is-info" @close="removeCoupon(i)">{{coupon}}</b-tag>
                    </b-taglist>
                </div>

            </div>
            <div class="is-50">
                <div class="subtitle">Payment type</div>
                <div>
                    <div>
                        <div class="field" v-for="(paymentOption, i) in paymentOptions" :key="i">
                            <b-radio type="is-info" :native-value="paymentOption" v-model="radio">
                                {{paymentOption}}
                            </b-radio>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "ShoppingCartPayment",
        data(){
            return{
                couponCode: '',
                coupons: [],
                paymentOptions: ['iDEAL', 'Pay later', 'Credit card'],
                radio: 'iDEAL'
            }
        },
        methods:{
            addCoupon(){
                if(!this.couponCode) return;
                this.coupons.push(this.couponCode);
                this.couponCode = '';
            },
            removeCoupon(index){
                this.coupons.splice(index, 1);
            }
        }
    }
</script>

<style scoped>
    .myInput{
        width: 50%;
        margin-right: 20px;
    }

    .myTag{
        margin-right: 5px;
    }

    .paymentField{
        display: flex;
    }

    .is-50{
        width: 50%;
        padding: 1%;
    }

    .couponField{
        display: flex;
    }

    @media screen and (max-width: 700px) {
        .subtitle{
            font-size: 14px !important;
        }
    }

</style>