<template>
    <div class="cartConfirmationPage">
        <div class="space-between">
            <p class="subtitle"><strong>Product</strong></p>
            <p class="subtitle"><strong>Quantity</strong></p>
            <p class="subtitle"><strong>Price</strong></p>
        </div>

        <ul>
            <li class="space-between shortProductInfo" v-for="(cartItem, i) in productsInCart" :key="i">
                <p class="productTitle">{{cartItem.product.title}}</p>
                <p class="productQuantity">{{cartItem.quantity}}</p>
                <p class="productPrice">€{{cartItem.product.price * cartItem.quantity}}</p>
            </li>
        </ul>

        <p class="totalPrice"><strong>Total price: €{{totalPrice}}</strong></p>

        <div class="emailField">
            <div class="emailInput">
                <form ref="emailField">
                    <b-field>
                        <b-input placeholder="E-mail" required type="email" minlength="5" maxlength="100" v-model="email"/>
                    </b-field>

                    <b-field>
                        <b-input placeholder="City" required type="text" minlength="2" maxlength="100" v-model="city"/>
                    </b-field>

                    <b-field>
                        <b-input placeholder="Address" required type="text" minlength="2" maxlength="100" v-model="address"/>
                    </b-field>

                    <b-field>
                        <b-input placeholder="Zip code" required type="text" minlength="2" maxlength="10" v-model="zipCode"/>
                    </b-field>
                </form>
            </div>

            <div class="orderButton">
                <b-button type="is-info" @click="placeOrder">Place order</b-button>
            </div>

        </div>

    </div>
</template>

<script>
    import enums from "../../enums";
    export default {
        name: "ShoppingCartConfirmation",
        data(){
            return{
                email: this.userData.email,
                address: this.userData.address,
                city: this.userData.city,
                zipCode: this.userData.zipCode
            }
        },
        methods:{
            placeOrder(){
                let validInput = this.$refs.emailField.checkValidity();

                if(validInput){
                    let order = {
                        email: this.email,
                        address: this.address,
                        zipCode: this.zipCode,
                        city: this.city,
                        products: this.productsInCart
                    };

                    this.$apiService.makeOrder(order).then(response => {
                        if(response.status === enums.apiStatus.OK) {
                            this.$helpers.showSuccessToaster('Successfully placed order', 'is-top-right');

                            if(!this.loggedIn) this.productsInCart.forEach(cartItem => this.$localStorageCart.deleteCartItem(cartItem));
                            this.$store.dispatch('setShoppingCart', null);
                            window.location.href = "/";
                        }
                        else this.$helpers.showErrorToaster('An error occurred whilst placing order, please try again', 'is-top-right');
                    }).catch(() => {
                        this.$helpers.showErrorToaster('An error occurred whilst placing order, please try again', 'is-top-right');
                    });

                } else this.$helpers.showDialog('Please fill in your email correctly!', "Please check if you've filled in all required fields correctly!", "OK", "is-danger", true);
            }
        },
        beforeMount(){
            this.email = this.userData.email;
            this.zipCode = this.userData.zipCode;
            this.address = this.userData.address;
            this.city = this.userData.city;
        },
        computed:{
            productsInCart(){
                return this.$store.getters.getShoppingCartProducts
            },
            totalPrice(){
                return this.$store.getters.getShoppingCartTotalPrice
            },
            userData(){
                return this.$store.getters.getProfileData
            },
            loggedIn(){
                return this.$store.getters.getLoggedInStatus;
            }
        }
    }
</script>

<style scoped>
    .cartConfirmationPage{
        padding: 0 20px 0 20px;
    }

    .shortProductInfo {
        border-bottom: 1px solid black;

    }

    .space-between{
        display: flex;
        justify-content: space-between;
    }

    .totalPrice{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right;
    }

    .productTitle{
        width: 48%;
    }

    .productQuantity{
        width: 4%;
        text-align: center;
    }

    .productPrice{
        width: 48%;
        text-align: right;
    }

    .emailInput{
        width: 40%;
        margin-right: 20px;
    }

    .emailField{
        display: flex;
        width: 100%;
    }

    .orderButton{
        align-self: flex-end;
        padding-bottom: 22px;
    }

    @media screen and (max-width: 700px) {
        .emailField{
            display: inline-block;
            width: 100%;
        }

        .emailInput{
            width: 100%;
        }
    }

</style>