<template>
    <div id="test">
        <b-loading :active.sync="isLoading"></b-loading>
        <div class="columns full-height is-marginless">
            <div class="column is-one-fifth sidebar">
                <SideMenu v-on:setSelectedProduct="setSelectedProduct"/>
            </div>
            <div class="column is-four-fifths is-paddingless">
                <div class="is-light adminNavBar">
                    <AdminNavBar v-on:toggleNavBar="toggleNavBar" :showAddProduct.sync="showAddProduct"/>
                </div>
                <div >
                    <AddProductPage v-if="showAddProduct" class="has-padding-top-right-and-left" />
                    <ProductEditor v-else :product="this.selectedProduct" :editableProduct="{...this.selectedProduct}" class="has-padding-top-right-and-left"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideMenu from "./admin_page/SideMenu";
    import AdminNavBar from "./admin_page/AdminNavBar";
    import ProductEditor from "./admin_page/ProductEditor";
    import AddProductPage from "./admin_page/AddProductPage";
    export default {
        name: "AdminPage",
        data: function(){
            return {
                isLoading: true,
                selectedProduct: null,
                showAddProduct: false
            }
        },
        components:{
            AddProductPage,
            SideMenu,
            AdminNavBar,
            ProductEditor
        },
        methods:{
            toggleNavBar(){
                this.$emit("toggleNavBar");
            },
            setSelectedProduct(product){
                this.selectedProduct = product;
            }
        },
        beforeCreate(){
            this.$apiService.getAdminAccess().then((response) => {
                if(response.status === 200){
                    this.toggleNavBar();
                    this.isLoading = false;
                } else {
                    this.$buefy.toast.open({
                        type: "is-danger",
                        message: "You don't have permission to view this page!",
                        position: "is-top"
                    });

                    this.$router.push("/");
                    this.isLoading = false;
                }
            });
        }
    }
</script>

<style scoped>
    .adminNavBar{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        background-color: whitesmoke;
    }

    .sidebar{
        background-color: #2e323a;
    }

    .has-padding-top-right-and-left{
        padding: 16px 32px 0 32px;
    }

    .full-height{
        height: 100vh;
    }

    .column{
        padding: 0 !important;
    }
</style>