<template>
  <div class="myCard" @click="isCategory ? addCategoryToRecommendations(name) : ''">
    <router-link  v-bind:to="isCategory ? { path: '/s', query:{category: name, p: 1}} : { path: '/p', query:{uuId: this.uuId}}">
      <img v-if="isCategory" :src="imgUrl" alt="Could not load picture!" >
      <cld-image v-else class="cld-image" width="100" :public-id="imgUrl" alt="Image not available" />
      <p>{{name}}</p>
    </router-link>
  </div>  
</template>

<script>
export default {
  props:{
    name: String,
    imgUrl: String,
    isCategory: {
      type: Boolean,
      default: false
    },
    uuId: String
  },
  methods:{
    addCategoryToRecommendations(categoryName){
      this.$localStorageProductRecommendation.addVisitedCategory(categoryName);
    }
  }
}
</script>

<style scoped>
  .myCard{
    text-align: center;
    display: inline-block;
  }

  p{
    cursor: pointer;
    color: black;
  }

  p:hover{
    text-decoration: underline;
  }
</style>