<template>
    <div>
        <div class="margin-bottom">
            <CardCarousel title="Explore our shop!" :isCategory="true" :objectsToShow="categories"/>
        </div>
        <div v-if="recommendedProducts.length > 0">
            <CardCarousel title="Products we recommend" :objectsToShow="recommendedProducts" />
        </div>
    </div>
</template>

<script>
import CardCarousel from './carousels/CardCarousel.vue';
import enums from "../enums";

export default {
    data() {
        return {
            products: {},
            categories: [],
            recommendedProducts: [],
            imageUnavailable: this.$cloudinary.getImageUnavailable(),
        };
      },
      components: {
          CardCarousel
    },
    props:{
        loginModalIsActive: Boolean,
        registerModalIsActive: Boolean
    },
    beforeMount(){
        if(this.loginModalIsActive) this.$emit("toggleModal", enums.modals.LOGIN);
        else if (this.registerModalIsActive) this.$emit("toggleModal", enums.modals.REGISTER);

        this.$apiService.getCategories().then(response => {
            if(response.status === 200) {
                this.categories = response.data;
            }
            else this.$helpers.showErrorToaster("Error whilst getting categories, please try again!", "is-top");
        });

        let visitedCategories = this.$localStorageProductRecommendation.getVisitedCategories();
        if(visitedCategories.length > 0){
            this.$apiService.getProducts(1, visitedCategories, null, 20).then(response => {
                if(response.status === 200) {
                    console.log(response);
                    for(let x = 0; x < response.data.content.length; x++){
                        let toAddProduct = {
                            name: response.data.content[x].title,
                            imageUrl: response.data.content[x].images[0] ? response.data.content[x].images[0] : this.imageUnavailable,
                            uuId: response.data.content[x].uuId
                        };

                        this.recommendedProducts.push(toAddProduct)
                    }
                }
                else this.$helpers.showErrorToaster("Error whilst getting categories, please try again!", "is-top");
            })
        }
    }
}
</script>

<style scoped>
    .margin-bottom{
        margin-bottom: 50px;
    }
</style>