<template>
    <b-modal @close="toggleLoginModal" :active.sync="isModalActive">
        <form @submit.prevent="login">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Login</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Email">
                        <b-input
                                type="email"
                                placeholder="Your email"
                                required
                                v-model="userData['email']">
                        </b-input>
                    </b-field>

                    <b-field label="Password">
                        <b-input
                                type="password"
                                password-reveal
                                placeholder="Your password"
                                required
                                v-model="userData['password']">
                        </b-input>
                    </b-field>

                    <b-checkbox>Remember me</b-checkbox>
                    <br>
                    <b-button type="is-text" @click="toggleRegisterModal">Don't have an account click here to register!</b-button>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="toggleLoginModal">Close</button>
                    <button class="button is-primary">Login</button>
                </footer>
            </div>
        </form>
    </b-modal>
</template>

<script>
    export default {
        name: "LoginModal",
        data(){
            return{
                userData:{}
            }
        },
        props:{
            isModalActive: Boolean
        },
        methods: {
            toggleLoginModal(){
                this.$emit("toggleLoginModal");
            },
            toggleRegisterModal(){
                this.$emit("toggleRegisterModal");
            },
            login(){
                this.$apiService.login(this.userData).then(() => {
                    this.$emit("loginSuccess");
                    this.toggleLoginModal();
                }).catch(() => {
                    this.$helpers.showErrorToaster("Incorrect credentials", "is-bottom-right");
                });
            }
        }
    }
</script>

<style scoped>

</style>