<template>
    <div>
        <b-navbar class="navbarshadow">

            <template slot="brand">
                <b-navbar-item tag="router-link" :to="{ path: '/' }">
                    <img
                            src="../assets/hol_black.svg"
                            alt="HOL"
                    >
                </b-navbar-item>
            </template>

            <template slot="start">
                <form class="navbar-item" @submit.prevent="searchProduct">
                    <b-field label-for="searchField" >
                        <b-input id="searchField"
                                 placeholder="Search..."
                                 type="search"
                                 icon="magnify"
                                 icon-clickable
                                 rounded
                                 v-model="searchTerm"
                                 v-debounce="searchProduct">
                        </b-input>
                    </b-field>
                </form>
            </template>

            <template slot="end">
                <b-navbar-item tag="div" class="desktop-icons">
                    <span @click="showProfile" v-if="loggedIn" class="has-text-right name">
                        <span>Welcome</span><br>
                        <span><strong>{{profileData.name.split(' ')[0]}}</strong></span>
                    </span>

                    <div class="buttons">
                        <b-button v-if="!loggedIn" type="is-text" @click.native="toggleModal(enums.modals.LOGIN)"> Log in </b-button>

                        <b-dropdown ref="accountDropdown" v-else aria-label="account options" position="is-bottom-left">
                            <b-button type="is-text" icon-right="account" @click="showProfile" size="is-medium" slot="trigger" name="account options" />

                            <b-dropdown-item aria-label="view profile" @click="$router.push('/profile')" >Profile</b-dropdown-item>
                            <b-dropdown-item aria-label="log out button" @click="logout" >Log out</b-dropdown-item>
                        </b-dropdown>

                        <div>
                            <b-button class="shoppingCart" type="is-text" icon-left="cart-outline" size="is-medium" aria-label="shopping cart" @click="toggleModal(enums.modals.SHOPPING_CART)">
                                <span v-if="productsInCart && productsInCart.length > 0" class="shoppingCartBadge" :key="productsInCart.length">
                                    {{productsInCart.length}}
                                </span>
                            </b-button>
                        </div>

                    </div>
                </b-navbar-item>
            </template>

            <template slot="brand">
                <b-navbar-item tag="div" class="mobile-icons">
                    <p v-if="loggedIn" class="underline" >Welcome <strong>{{profileData.name.split(' ')[0]}}</strong></p>
                    <div class="buttons">
                        <b-button v-if="!loggedIn" type="is-text" @click.native="toggleModal(enums.modals.LOGIN)"> Log in </b-button>

                        <b-dropdown ref="accountDropdown" v-else aria-label="account options" position="is-bottom-left">
                            <b-button type="is-text" icon-right="account" @click="showProfile" size="is-medium" slot="trigger" name="account options" />

                            <b-dropdown-item aria-label="view profile" @click="$router.push('/profile')" >Profile</b-dropdown-item>
                            <b-dropdown-item aria-label="log out button" @click="logout" >Log out</b-dropdown-item>
                        </b-dropdown>

                        <div>
                            <b-button class="shoppingCart" type="is-text" icon-left="cart-outline" size="is-medium" aria-label="shopping cart" @click="toggleModal(enums.modals.SHOPPING_CART)">
                                <span v-if="productsInCart && productsInCart.length > 0" class="shoppingCartBadge" :key="productsInCart.length">
                                    {{productsInCart.length}}
                                </span>
                            </b-button>
                        </div>
                    </div>
                </b-navbar-item>
            </template>

        </b-navbar>
    </div>

</template>

<script>
    import router from "../router";
    import enums from "../enums";
    export default {
        name: "NavBar",
        data: function(){
            return{
                searchTerm: "",
                showCart: false,
                enums: enums
            }
        },
        methods:{
            toggleModal(modalToToggle){
              this.$emit("toggleModal", modalToToggle);
            },
            searchProduct() {
                if(!this.searchTerm) {
                    router.push("/");
                    return;
                }
                router.push({ path: `/s`, query: { search: this.searchTerm, p: 1 } });
            },
            showProfile(){
                this.$refs.accountDropdown.toggle();
            },
            logout(){
                this.$apiService.logout().then(response => {
                    if(response.status === 200) {
                        this.$store.dispatch('clearProfileData', true);
                        this.$store.dispatch('setShoppingCart', null);
                        this.$store.dispatch('setLoggedIn', false);
                        this.$router.push("/");
                    }
                    else this.$buefy.toast.open({
                        type: "is-danger",
                        message: "There was an error whilst logging you out, please try again",
                        position: "is-top"
                    });
                });
            },
        },
        computed:{
            profileData(){
                return this.$store.getters.getProfileData;
            },
            loggedIn(){
                return this.$store.getters.getLoggedInStatus;
            },
            productsInCart(){
                return this.$store.getters.getShoppingCartProducts
            }
        }
    }
</script>

<style scoped>

    .navbarshadow {
        box-shadow: 0 2px 2px rgba(136, 136, 136, 0.33);
    }

    .name{
        padding-right: 1.9%;
    }

    .name:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .mobile-icons {
        display: none !important;
    }

    .myDropdown{
        position: absolute;
    }

    .shoppingCart{
        margin-right: 0 !important;
    }

    .shoppingCartBadge{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 10px;
        text-decoration: none;
        color: white;
        background-color: red;
        border-radius: 50%;
    }

    @media screen and (max-width: 1024px) {
        .desktop-icons {
            display: none !important;
        }

        .mobile-icons {
            display: -webkit-box !important;
        }
    }
</style>