<template>
    <ul class="products">
        <li class="product" v-for="(result, i) in this.$props.products" :key="i">
            <div class="columns" v-if="forShoppingCart">
                <div class="column is-four-fifths myDisabled">
                    <Product :product="result.product"/>
                </div>
                <div class="column is-one-fifth">
                    <b-field label="Quantity">
                        <b-input type="number" :step="1" :min="1" v-model="result.quantity" @input="quantityChanged(result)"/>
                    </b-field>
                    <b-button icon-left="delete-outline" class="deleteButton" @click="deleteItemFromCart(result)">Remove from cart</b-button>
                </div>
            </div>
            <Product v-else :product="result"/>
            <hr v-if="i !== products.length-1">
        </li>
    </ul>
</template>

<script>
    import Product from "./Product";
    import enums from "../enums";

    export default {
        name: "ProductsList",
        components: {Product},
        props:{
            products: Array,
            forShoppingCart: {
                default: false,
                type: Boolean
            }
        },
        methods:{
            quantityChanged(cartItem){
                if(this.loggedIn){
                    this.$apiService.updateCartItem(cartItem).then(response => {
                        if(response.status !== enums.apiStatus.OK) this.$helpers.showErrorToaster("Error updating cart", "is-top-right");
                        else console.log("updated quantity");
                    });
                }else this.$localStorageCart.editQuantity(cartItem);

                this.$store.dispatch('calculateShoppingCartTotalPrice')
            },
            deleteItemFromCart(cartItem){
                if(this.loggedIn){
                    this.$apiService.deleteCartItem(cartItem).then(response => {
                        if(response.status !== enums.apiStatus.OK) this.$helpers.showErrorToaster("Error whilst deleting item from cart", "is-top-right");
                    })
                }else this.$localStorageCart.deleteCartItem(cartItem);

                this.$store.dispatch('removeProductFromShoppingCart', cartItem);
            }
        },
        computed:{
            loggedIn(){
                return this.$store.getters.getLoggedInStatus;
            }
        }
    }
</script>

<style scoped>
    .product{
        padding-top: 3%;
    }

    .products{
        width: 100%;
    }

    .deleteButton{
        font-size: 15px;
        text-decoration: underline;
        border: none;
    }

    .myDisabled{
        pointer-events: none;
        cursor: default;
    }
</style>