<template>
    <div class="media">
        <figure class="media-left">
            <p class="image is-96x96 hoverable">
                <cld-image :publicId="getImage()" alt="No image added!" @click="routeToProduct"/>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p class="description">
                    <strong class="hoverable underline-when-hovered" @click="routeToProduct">{{product.title}}</strong>
                    <br>
                    <small>€{{product.price}}</small> <small><b-tag class="sale" v-if="product.onSale" type="is-danger">SALE!</b-tag></small>
                    <br>
                    <small>Product specs?</small>
                    <br>
                    <small>
                        <b-rate
                            v-model="product.rating"
                            :icon-pack="'mdi'"
                            :icon="'star'"
                            :max=5
                            :disabled=true>
                        </b-rate>
                    </small>
                    <br>
                    <span class="descriptionText">{{shortenString(210, product.description)}}</span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Product",
        props:{
            product: Object
        },
        methods:{
            routeToProduct(){
                this.$router.push({ name: `productInfo` , query:{uuId: this.product.uuId}});
            },
            shortenString(characterCount, text){
                let newString = text.slice(0, characterCount);
                newString += "...";

                return newString
            },
            getImage(){
                if(this.product.images.length > 0) return this.product.images[0];
                else return "holcom/vr0f0ikhicvxfwdniism";
            }
        }
    }
</script>

<style scoped>
    .description{
        width: 100%;
        height: 10%;
        text-overflow: ellipsis;
    }
    .sale{
        margin: 1%;
    }

    .hoverable {
        cursor: pointer;
    }

    .underline-when-hovered:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 900px) {
        .descriptionText {
            display: none;
        }
    }
</style>