<template>
    <div class="myContainer">

        <div class="left-column">
            <div>
                <images-carousel :images="p.images"/>
            </div>
        </div>

        <div class="right-column">
            <p class="categories">Categories: {{p.categories.map(c => c.name).join(", ")}}</p>
            <span class="title">{{p.title}}</span>
            <p><small>{{p.articleNumber}}</small></p>

            <small>
                <b-rate class="rating"
                        custom-text="Rating: "
                        v-model="p.rating"
                        :icon-pack="'mdi'"
                        :icon="'star'"
                        :max=5
                        :disabled=true
                        :rtl="true">
                </b-rate>
            </small>

            <div class="padding-bottom">
                <div>
                    <p><strong>Brand: </strong>{{p.brand}}</p>
                    <p><strong>Color: </strong>{{p.color}}</p>
                    <p><strong>Material: </strong>{{p.material}}</p>
                    <p><strong>Size: </strong>{{p.size}}</p>
                </div>

                <p class="sub"><strong>Description:</strong></p>
                <div class="description-text">
                    <span>{{p.description}}</span>
                </div>
            </div>

            <div>
                <span class="subtitle">€ {{p.price}}</span>

                <tag v-if="p.stock <= 0" text="Out of stock!" type="is-danger"/>
                <tag v-else-if="p.stock <= 20" text="Last few products!" type="is-warning"/>
                <tag v-else text="In stock" type="is-success"/>

                <b-button type="is-success" class="addToCartButton" @click="checkIfProductInCart() ? showProductAlreadyInCart() : addProductToCart()" :disabled="p.stock <= 0" >Add to cart</b-button>
            </div>
        </div>

    </div>
</template>

<script>
import ImagesCarousel from './carousels/ImagesCarousel.vue';
import Tag from './Tag.vue'
import enums from "../enums";

export default {
    data(){
        return{
            productUuId: this.$route.query.uuId,
            p: {}
        }
    },
    methods:{
        addProductToCart(){
            if(this.checkIfProductInCart() || this.p.stock <= 0) return;

            let cartItem = {
                product: this.p,
                quantity: 1
            };

            if(this.loggedIn){
                this.$apiService.addCartItem(cartItem).then(response => {
                    if(response.status === enums.apiStatus.OK) this.$helpers.showSuccessToaster(`Successfully added ${cartItem.product.title} to cart!`, "is-top-right");
                    else this.$helpers.showErrorToaster("Error adding product to cart, please try again");
                }).catch(() => {
                    this.$helpers.showErrorToaster("Error adding product to cart, please try again")
                })
            } else this.$localStorageCart.addCartItem(cartItem);

            this.$store.dispatch('addProductToShoppingCart', cartItem)
        },
        checkIfProductInCart(){
            for(let x = 0; x < this.productsInCart.length; x++){
                if(this.productsInCart[x].product.uuId === this.p.uuId) return true;
            }

            return false;
        },
        showProductAlreadyInCart(){
            this.$helpers.showDialog('Product already in cart', `Product with title: ${this.p.title} is already in your cart!`, 'OK', 'is-info', true);
        }
    },
    beforeMount(){
        this.$apiService.getProductByUuId(this.productUuId).then(response => {
            if(response.status === 200) this.p = response.data;
            else this.$helpers.showErrorToaster("Error whilst getting categories, please try again!", "is-top");
        })
    },
    components: {
        ImagesCarousel,
        Tag
    },
    computed:{
        loggedIn(){
            return this.$store.getters.getLoggedInStatus;
        },
        productsInCart(){
            return this.$store.getters.getShoppingCartProducts
        }
    }
}
</script>

<style>
    .myContainer{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .left-column{
        width: 40%;
        padding-right: 3%;
    }

    .right-column{
        width: 35%;
    }

    .categories{
        color: cadetblue;
    }

    .description-text{
        max-height: 200px;
        overflow-y: auto;
    }

    .padding-bottom{
        padding-bottom: 15px;
    }

    .rating{
        margin-bottom: 1% !important;
    }

    .addToCartButton{
        margin-bottom: 50px;
    }

    @media screen and (max-width: 1024px) {

        .myContainer{
            display: inline-block;
            margin: 0 5% 0 5%;
        }

        .left-column{
            width: 100%;
        }
        .right-column{
            width: 100%;
        }
    }


</style>