<template>
    <div class="profilePage">
        <div class="profileMenu">
            <ul>
                <router-link to="/profile" class="router-link my-list-item" tag="li" exact exact-active-class="selected" >
                    <b-icon icon="account" class="my-icon"/>
                    <span class="my-list-text">Edit profile</span>
                </router-link>
                <router-link to="/profile/order-history" class="router-link my-list-item" tag="li" exact exact-active-class="selected">
                    <b-icon icon="truck" class="my-icon"/>
                    <span class="my-list-text">Order history</span>
                </router-link>
            </ul>
        </div>

        <div class="dropdown-profileMenu">
            <div class="dropdown-field" @click="toggleMobileMenu">
                <span><strong>Menu</strong></span>
                <b-icon icon="menu"></b-icon>
            </div>

            <div class="profileMenu-dropdown-content" :class="mobileDropdownHidden ? 'hidden' : 'shown'">
                <ul>
                    <router-link to="/profile" class="router-link my-list-item" tag="li" exact exact-active-class="selected" >
                        <b-icon icon="account" class="my-icon"/>
                        <span class="my-list-text">Edit profile</span>
                    </router-link>
                    <router-link to="/profile/order-history" class="router-link my-list-item" tag="li" exact exact-active-class="selected">
                        <b-icon icon="truck" class="my-icon"/>
                        <span class="my-list-text">Order history</span>
                    </router-link>
                </ul>
            </div>
        </div>

        <div class="profileView">
            <router-view />
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProfilePage",
        data(){
            return {
                selected: 'edit',
                mobileDropdownHidden: true
            }
        },
        methods:{
            toggleMobileMenu(){
                this.mobileDropdownHidden = !this.mobileDropdownHidden
            }
        },
        beforeCreate(){
            this.$apiService.getUserData().then((response) => {
                if(response.status !== 200){
                    this.$buefy.toast.open({
                        type: "is-danger",
                        message: "You don't have permission to view this page!",
                        position: "is-top"
                    });

                    this.$router.push("/");
                }
            });
        }
    }
</script>

<style scoped>
    .profilePage{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .profileMenu{
        width: 17%;
        margin-right: 3%;
    }

    .profileView{
        width: 50%;
    }

    .my-list-item{
        font-weight: bold;
        font-size: 12px;
        padding-left: 15px;
        margin-bottom: 5px;
        height: 40px;
        max-width: 165px;
        line-height: 40px;
        outline: 1px solid transparent;
    }

    .my-list-item:hover{
        cursor: pointer;
        background-color: whitesmoke;
    }

    .selected {
        background-color: whitesmoke;
        box-shadow: inset 3px 0 0 0 #4a4a4a;
    }

    .router-link{
        color: #4a4a4a;
    }

    .my-icon{
        position: relative;
        top: calc(50% - 17px);
        margin-right: 5px;
    }

    .dropdown-profileMenu{
        display: none;
    }

    .hidden{
        display: none;
    }

    .shown{
        display: block;
    }

    @media screen and (max-width: 1024px) {
        .profilePage{
            display: inline-block;
            width: 100%;
            margin: 0 15% 0 15%;
        }

        .profileView{
            width: 70%;
        }

        .profileMenu{
            display: none;
        }

        .dropdown-profileMenu{
            display: block;
            width: 70%;

            margin-bottom: 20px;
        }

        .dropdown-field{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding: 10px;

            border: 1px solid rgba(10, 10, 10, 0.1);
            border-radius: 5px;
        }

        .dropdown-field:hover {
            background-color: whitesmoke;
        }

        .dropdown-profileMenu:hover {
            background-color: whitesmoke;
        }

        .my-list-item{
            width: 100%;
        }
    }

</style>