<template>
    <b-modal @close="toggleModal" :active.sync="isModalActive" >
        <form @submit.prevent="register">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Register</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Name" >
                        <b-input
                                placeholder="Your name"
                                required
                                minlength="2"
                                maxlength="100"
                                v-model="userData['name']">
                        </b-input>
                    </b-field>
                    <b-field label="Email" >
                        <b-input
                                type="email"
                                placeholder="Your email"
                                required
                                minlength="5"
                                maxlength="100"
                                v-model="userData['email']">
                        </b-input>
                    </b-field>
                    <b-field label="Password" >
                        <b-input
                                type="password"
                                password-reveal
                                placeholder="Your password"
                                required
                                minlength="7"
                                v-model="userData['password']">
                        </b-input>
                    </b-field>

                    <b-dropdown position="is-bottom-left" aria-role="menu" trap-focus>
                        <a
                                class="navbar-item"
                                slot="trigger"
                                role="button">
                            <span>Click to open up input fields for optional location data</span>
                            <b-icon icon="menu-down"></b-icon>
                        </a>

                        <b-dropdown-item
                                aria-role="menu-item"
                                :focusable="false"
                                custom
                                paddingless>
                            <form action="">
                                <div class="modal-card" style="width:300px;">
                                    <section class="modal-card-body">
                                        <b-field label="City">
                                            <b-input
                                                    type="text"
                                                    placeholder="Your city"
                                                    minlength="2"
                                                    maxlength="100"
                                                    v-model="userData['city']">
                                            </b-input>
                                        </b-field>

                                        <b-field label="Address">
                                            <b-input
                                                    type="text"
                                                    placeholder="Your address"
                                                    minlength="2"
                                                    maxlength="100"
                                                    v-model="userData['address']">
                                            </b-input>
                                        </b-field>

                                        <b-field label="Zip code">
                                            <b-input
                                                    type="text"
                                                    placeholder="Your zip code"
                                                    minlength="2"
                                                    maxlength="10"
                                                    v-model="userData['zipCode']">
                                            </b-input>
                                        </b-field>
                                    </section>
                                </div>
                            </form>
                        </b-dropdown-item>
                    </b-dropdown>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="toggleModal">Cancel</button>
                    <button class="button is-primary">Register</button>
                </footer>
            </div>
        </form>
    </b-modal>
</template>

<script>
    import enums from "../enums";
    export default {
        name: "RegisterModal",
        data(){
            return{
                userData:{}
            }
        },
        props:{
            isModalActive: Boolean
        },
        methods:{
            toggleModal(){
                this.$emit("toggleRegisterModal");
            },
            showSnackbar(data){
                if(data.status === enums.apiStatus.OK) {
                    this.$helpers.showSuccessToaster("Successfully created account!", "is-bottom-right");
                    this.$emit("toggleRegisterModal", true);
                }
                else if (data.status === enums.apiStatus.BAD_REQUEST) this.$helpers.showErrorToaster("User with email already exists!", "is-bottom-right");
                else this.$helpers.showErrorToaster("Unknown error, please try again", "is-bottom-right");
            },
            register(){
                this.$apiService.registerUser(this.userData).then(data => {
                    this.showSnackbar(data);
                });
            }
        },

    }
</script>

<style scoped>

</style>