<template>
    <section>
        <div class="container">
            <h1 class="title is-4" v-if="this.$route.query.category">Items shown for: {{this.$route.query.category}}</h1>
            <h1 class="title is-4" v-else-if="this.$route.query.search">Items shown for: {{this.$route.query.search}}</h1>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter menu" id="menu">
                    <CategoryMenu/>
                </div>
                <div id="products" class="column is-three-quarters border">
                    <div v-if="this.productsPage.numberOfElements === 0">
                        No products found!
                    </div>
                    <ProductsList v-else :products="this.productsPage.content"/>
                </div>
            </div>
        </div>
        <b-pagination
                :total="this.productsPage.totalElements"
                :current="this.productsPage.number + 1"
                :range-before="2"
                :range-after="2"
                :order="'is-centered'"
                :size="'is-small'"
                :icon-prev="'chevron-left'"
                :icon-next="'chevron-right'"
                :per-page="this.productsPage.size"
                @change="getProducts"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page">
        </b-pagination>
    </section>
</template>

<script>
    import CategoryMenu from "./CategoryMenu";
    import ProductsList from "./ProductsList";
    export default {
        name: "SearchResult",
        components: {ProductsList, CategoryMenu},
        data(){
            return{
                productsPage: [],
                category: this.$route.query.category,
                search: this.$route.query.search,
                p: this.$route.query.p
            }
        },
        methods: {
            getProducts(pageNumber){
                this.$apiService.getProducts(pageNumber, this.$route.query.category, this.$route.query.search).then(response => {
                    this.productsPage = response.data;
                });
            }
        },
        beforeMount(){
            this.getProducts(1);
        },
        watch:{
            $route(){
                this.getProducts(this.p)
            }
        }
    }
</script>

<style scoped>

    #products{
        overflow-y: auto;
    }

    .columns{
        width: 100% ;
    }

    @media screen and (max-width: 800px) {
        #menu {
            display: none;
        }
    }
</style>