<template>
    <b-modal @close="toggleModal" :active.sync="isModalActive">
        <div class="modal-card shoppingCart round-border" style="width: auto">
            <section class="modal-card-body">
                <b-steps class="height-100per" v-model="stepNumber" :has-navigation="false">
                    <b-step-item label="Shopping Cart" icon="cart-outline">
                        <ProductsList class="max-height-70per" :products="productsInCart" :forShoppingCart="true" />
                        <p class="total-price" v-if="totalPrice > 0"><strong>Total price €{{totalPrice}}</strong></p>
                    </b-step-item>

                    <b-step-item label="Payment" icon="currency-eur">
                        <ShoppingCartPayment/>
                    </b-step-item>

                    <b-step-item label="Confirmation" icon="check">
                        <ShoppingCartConfirmation/>
                    </b-step-item>
                </b-steps>
            </section>
            <footer class="myFooter">
                <b-button class="previousButton" :disabled="stepNumber === 0" @click.prevent="stepNumber--" icon-left="chevron-left" >Previous</b-button>
                <b-button class="nextButton" :disabled="stepNumber === 2 || this.productsInCart <= 0" @click.prevent="stepNumber++" icon-right="chevron-right" >Continue</b-button>
            </footer>
        </div>
    </b-modal>
</template>

<script>
    import ProductsList from "./ProductsList";
    import ShoppingCartPayment from "./shopping_cart_views/ShoppingCartPayment";
    import ShoppingCartConfirmation from "./shopping_cart_views/ShoppingCartConfirmation";
    export default {
        name: "ShoppingCartModal",
        components: {ShoppingCartConfirmation, ShoppingCartPayment, ProductsList},
        props:{
            isModalActive: Boolean
        },
        data(){
            return{
                stepNumber: 0
            }
        },
        methods:{
            toggleModal(){
                this.$emit("toggleShoppingCartModal");
            }
        },
        computed:{
            productsInCart(){
                return this.$store.getters.getShoppingCartProducts
            },
            totalPrice(){
                return this.$store.getters.getShoppingCartTotalPrice
            }
        }
    }
</script>

<style scoped>
    .shoppingCart{
        height: 60vh;
    }

    .max-height-70per{
        max-height: 30% !important;
    }

    .height-100per{
        height: 100%;
    }

    .round-border{
        border-radius: 15px;
    }

    .myFooter{
        background-color: ghostwhite;
        display: flex;
        justify-content: space-between;
        padding: 5px 15px 5px 15px;
    }

    .total-price{
        width: 100%;
        text-align: right;
    }
</style>