<template>
    <div class="tag-area">
        <span class="myTag" :class="type"><small>{{text}}</small></span>
    </div>
</template>

<script>
    export default {
        name: "Tag",
        props:{
            text: String,
            type: String
        }
    }
</script>

<style scoped>
    .tag-area{
        margin: 12px 0 12px 0;
    }

    .myTag{
        padding: 0 5px 2px 5px;
        border: 1px solid;
        border-radius: 5px;
        background-color: transparent;
    }

    .is-warning{
        border-color: #FFCC00;
        color: #FFCC00 ;
    }

    .is-danger{
        border-color: #ff3860;
        color: #ff3860;
    }

    .is-success{
        border-color: #23d160;
        color: #23d160;
    }
</style>