<template>
    <div >
        <NavBar v-show="showNavBar" v-on:toggleModal="toggleModal" class="padding-bottom"/>

        <LoginModal v-on:toggleLoginModal="toggleLoginModal" v-on:toggleRegisterModal="toggleRegisterModal" v-bind:isModalActive="this.loginModalIsActive" v-on:loginSuccess="loginSuccess"/>
        <RegisterModal v-on:toggleRegisterModal="toggleRegisterModal" v-bind:isModalActive="this.registerModalIsActive"/>
        <ShoppingCartModal v-on:toggleShoppingCartModal="toggleShoppingCartModal" v-bind:isModalActive="this.shoppingCartModalIsActive"/>

        <router-view v-on:toggleModal="toggleModal" v-on:toggleNavBar="toggleNavBar"/>

    </div>
</template>

<script>
    import LoginModal from "./components/LoginModal";
    import RegisterModal from "./components/RegisterModal";
    import NavBar from "./components/NavBar";
    import enums from "./enums";
    import ShoppingCartModal from "./components/ShoppingCartModal";

    export default {
        name: 'App',
        components: {ShoppingCartModal, RegisterModal, LoginModal, NavBar},
        data: function() {
            return {
                showNavBar: true
            }
        },
        props:{
            shoppingCartModalIsActive: {
                default: false,
                type: Boolean
            },
            loginModalIsActive: {
                default: false,
                type: Boolean
            },
            registerModalIsActive: {
                default: false,
                type: Boolean
            }
        },
        methods: {
            toggleModal(modalToToggle){
                if(modalToToggle === enums.modals.LOGIN) this.toggleLoginModal();
                else if(modalToToggle === enums.modals.REGISTER) this.toggleRegisterModal();
                else if(modalToToggle === enums.modals.SHOPPING_CART) this.toggleShoppingCartModal();
            },
            toggleLoginModal(){
                this.registerModalIsActive = false;
                this.shoppingCartModalIsActive = false;
                this.loginModalIsActive = !this.loginModalIsActive;
            },
            toggleRegisterModal(){
                this.loginModalIsActive = false;
                this.shoppingCartModalIsActive = false;
                this.registerModalIsActive = !this.registerModalIsActive;
            },
            toggleShoppingCartModal(){
                this.loginModalIsActive = false;
                this.registerModalIsActive = false;
                this.shoppingCartModalIsActive = !this.shoppingCartModalIsActive;
            },
            fetchUserData(){
                this.$apiService.getUserData().then(response => {
                    if(response.status === enums.apiStatus.NOT_FOUND) this.$helpers.showErrorToaster("Could not fetch user data, please try again!", "is-top-right");
                    else if (response.status === enums.apiStatus.OK) {
                        this.$store.dispatch('setProfileData', response.data);
                        this.$store.dispatch('setLoggedIn', true);
                        this.$store.dispatch('incrementTimesDataFetched');
                    }
                }).catch(response => {
                    if(response.status !== enums.apiStatus.UNAUTHORIZED || response.status !== enums.apiStatus.OK) this.$helpers.showErrorToaster("Could not fetch user data, please try again!", "is-top-right");
                });
            },
            fetchShoppingCart(){
                if(this.loggedIn){
                    this.$apiService.getShoppingCart().then(response => {
                        if(response.status === enums.apiStatus.OK) this.$store.dispatch('setShoppingCart', response.data.products);
                    }).catch(response => {
                        if(response.status === 204) this.$helpers.showErrorToaster("Error fetching shopping cart, please try again!", "is-top-right");
                    });
                } else {
                    let cart = JSON.parse(localStorage.getItem('cart')) || [];
                    this.$store.dispatch('setShoppingCart', cart);
                }
            },
            toggleNavBar(){
                this.showNavBar = !this.showNavBar;
            },
            checkIfUserDataNull(){
                return !(this.userData)
            },
            checkIfShoppingCartNull(){
                return !(this.shoppingCart)
            },
            loginSuccess(){
                this.fetchUserData();
                this.fetchShoppingCart();
            }
        },
        beforeMount(){
            if(this.checkIfUserDataNull() && this.loggedIn || this.timesUserDataFetched === 0) this.fetchUserData();
            if(this.checkIfShoppingCartNull()) this.fetchShoppingCart();
        },
        computed:{
            userData(){
                return this.$store.getters.getProfileData;
            },
            shoppingCart(){
                return this.$store.getters.getShoppingCartProducts;
            },
            loggedIn(){
                return this.$store.getters.getLoggedInStatus;
            },
            timesUserDataFetched(){
                return this.$store.getters.getTimesFetched;
            }
        },
        watch:{
            loggedIn(){
                this.fetchShoppingCart();
            }
        }
    }
</script>

<style scoped>
    .padding-bottom{
        padding-bottom: 45px;
    }
</style>
