<template>
    <div id="addProduct">
        <div class="columns">
            <div class="column is-three-fifths">
                <form ref="inputField">
                    <ProductEditorInput label="Price" placeholder="Price" type="number" :max="100000" :step=".01" :min=".01" v-model="product.price" :required="true" />
                    <ProductEditorInput label="Stock" placeholder="Stock" type="number" :max="1000000" v-model="product.stock" :required="true" />
                    <ProductEditorInput label="Article number" placeholder="Article number" :maxLength="50" :minLength="5" v-model="product.articleNumber" :required="true" />
                    <ProductEditorInput label="Title" placeholder="Title" :maxLength="50" :minLength="2" v-model="product.title" :required="true" />
                    <ProductEditorInput label="Brand" placeholder="Brand" :maxLength="50" :minLength="2" v-model="product.brand" :required="true" />
                    <ProductEditorInput label="Color" placeholder="Color" :maxLength="50" :minLength="2" v-model="product['color']"  />
                    <ProductEditorInput label="Material" placeholder="Material" :maxLength="50" :minLength="2" v-model="product['material']"  />
                    <ProductEditorInput label="Size" placeholder="Size" :maxLength="50" :minLength="2" v-model="product['size']" />
                    <b-field label="On sale">
                        <b-checkbox v-model="product.onSale">On sale</b-checkbox>
                    </b-field>
                    <ProductEditorCategorySelector :productCategories="product.categories" v-on:checkBoxClicked="categoryCheckBoxClicked" />
                    <ProductEditorInput label="Description" placeholder="Description" type="textarea" :maxLength="500" :minLength="5" v-model="product.description" :required="true" />
                </form>

                <b-button class="margin-right is-danger" @click="clearProduct" >Clear</b-button>
                <b-button type="is-info" @click="addProduct">Save</b-button>
            </div>
            <div class="column is-two-fifths">
                <ProductDetails :product="product" title="Created product" />
            </div>
        </div>
    </div>

</template>

<script>
    import ProductEditorInput from "./ProductEditorInput"
    import ProductEditorCategorySelector from "./ProductEditorCategorySelector";
    import ProductDetails from "./ProductDetails";
    export default {
        name: "AddProductPage",
        components:{
            ProductEditorInput,
            ProductEditorCategorySelector,
            ProductDetails
        },
        data(){
            return{
                product: {
                    price: '',
                    stock: '',
                    articleNumber: '',
                    title: '',
                    brand: '',
                    description: '',
                    onSale: false,
                    categories: []
                }
            }
        },
        methods:{
            addProduct(){
                let validInput = this.$refs.inputField.checkValidity();
                if(validInput){
                    this.$apiService.addProduct(this.product).then(response => {
                        if(response.status === 200) {
                            this.$helpers.showSuccessToaster(`Added product with title: ${this.product.title}`, "is-top");
                            this.clearProduct();
                        }
                        else this.$helpers.showErrorToaster(`Could not add product with title ${this.product.title}, please try again!`);
                    })
                }else{
                    this.$helpers.showDialog(
                        "Please fill in all necessary fields!",
                        "Please check if you've correctly filled in the necessary fields: price, stock, article number, title, brand, description & <b>at least one category</b>.",
                    "OK",
                    "is-info",
                    true)
                }
            },
            categoryCheckBoxClicked(value, category){
                if(value) this.product.categories.push(category);
                else this.product.categories.splice(this.getIndexOfCategory(category), 1);
            },
            validateInput(){
                return !!(this.product.price && this.product.stock && this.product.articleNumber && this.product.title && this.product.brand && this.product.description && this.product.categories.length > 0);
            },
            getIndexOfCategory(category){
                for(let x = 0; x < this.product.categories.length; x++){
                    if(category.name === this.product.categories[x].name) {
                        return x;
                    }
                }

                return -1;
            },
            clearProduct(){
                this.product = {
                    price: 0,
                    stock: 0,
                    articleNumber: '',
                    title: '',
                    brand: '',
                    description: '',
                    categories: []
                };
            }
        }
    }
</script>

<style scoped>
    #addProduct{
        max-height: calc(100vh - 52px);
        overflow-y: auto;
        padding-bottom: 30px;
    }

    .margin-right{
        margin-right: 10px;
    }
</style>