<template>
    <div class="spread">
        <b-button @click="goToHome" icon-left="home" >Home</b-button>
        <b-button @click="toggleAddProduct" v-if="!showAddProduct" type="is-info" icon-left="plus" >Add product</b-button>
        <b-button @click="toggleAddProduct" v-else type="is-info" icon-left="pencil" >Edit products</b-button>
    </div>
</template>

<script>
    import router from "../../router";

    export default {
        name: 'AdminNavBar',
        props:{
            showAddProduct: Boolean
        },
        components: {
        },
        methods:{
            goToHome(){
                this.$emit("toggleNavBar");
                router.push("/");
            },
            toggleAddProduct(){
                this.showAddProduct = !this.showAddProduct;
                this.$emit('update:showAddProduct', this.showAddProduct)
            }
        }
    }
</script>

<style scoped>
    .spread{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
</style>