<template>
    <b-message :title="title" :closable="false" aria-close-label="Close message">
        <p><strong>Price</strong></p>
        <p>€{{product.price}}</p><p>
        <strong>Stock</strong></p>
        <p>{{product.stock}}</p><p>
        <strong>Article number</strong></p>
        <p>{{product.articleNumber}}</p><p>
        <strong>Title</strong></p>
        <p>{{product.title}}</p><p>
        <strong>Brand</strong></p>
        <p>{{product.brand}}</p><p>
        <strong>Color</strong></p>
        <p>{{product.color}}</p><p>
        <strong>Material</strong></p>
        <p>{{product.material}}</p><p>
        <strong>Size</strong></p>
        <p>{{product.size}}</p><p>
        <strong>On sale</strong></p>
        <p>{{product.onSale}}</p>
        <p><strong>Categories</strong></p>
        <span v-for="(category, i) in product.categories" :key="i" >{{category.name}}{{i !== product.categories.length-1 && product.categories.length > 1 ? ', ' : ''}}</span>
        <p><strong>Description</strong></p>
        <p>{{product.description}}</p>
    </b-message>
</template>

<script>
    export default {
        name: "ProductDetails",
        props:{
            product: Object,
            title: String
        }
    }
</script>

<style scoped>

</style>