<template>
    <b-field label="Categories">
        <div class="test">
            <span v-for="(category, i) in allCategories" :key="i" class="padding-right">
            <b-checkbox @input="value => onInput(value, category)" :value="checkIfCategoryInProduct(category)" :native-value="category">{{category.name}}</b-checkbox>
        </span>
        </div>

    </b-field>
</template>

<script>
    export default {
        name: "ProductEditorCategorySelector",
        props:{
            productCategories: Array
        },
        data(){
            return{
                allCategories: []
            }
        },
        methods:{
            onInput(inputValue, category){
                this.$emit('checkBoxClicked', inputValue, category);
            },
            checkIfCategoryInProduct(categoryToCheck){
                if(!this.productCategories) return false;

                let returnValue = false;
                this.productCategories.forEach(category => {
                    if(categoryToCheck.name === category.name) returnValue = true;
                });

                return returnValue;
            }
        },
        mounted(){
            this.$apiService.getCategories().then( response => {
                if(response.status === 200) this.allCategories = response.data;
                else this.$helpers.showErrorToaster("Error whilst getting categories, please try again!", "is-top");
            });
        }
    }
</script>

<style scoped>
    .padding-right{
        padding-right: 20px;
    }
</style>