<template>
    <div  id="productEditor">
        <div v-if="product" class="columns">
            <div  class="column is-three-fifths">
                <ProductEditorInput label="Price" placeholder="Price" type="number" :max="100000" :step=".01" :min=".01" v-model="editedProduct['price'] " />
                <ProductEditorInput label="Stock" placeholder="Stock" type="number" :max="1000000" v-model="editedProduct['stock'] "/>
                <ProductEditorInput label="Article number" placeholder="Article number" :maxLength="50" :minLength="5" v-model="editedProduct['articleNumber'] "/>
                <ProductEditorInput label="Title" placeholder="Title" :maxLength="50" :minLength="2" v-model="editedProduct['title']" />
                <ProductEditorInput label="Brand" placeholder="Brand" :maxLength="50" :minLength="2" v-model="editedProduct['brand'] "/>
                <ProductEditorInput label="Color" placeholder="Color" :maxLength="50" :minLength="2" v-model="editedProduct['color'] "/>
                <ProductEditorInput label="Material" placeholder="Material" :maxLength="50" :minLength="2" v-model="editedProduct['material'] "/>
                <ProductEditorInput label="Size" placeholder="Size" :maxLength="50" :minLength="2" v-model="editedProduct['size']"/>
                <b-field label="On sale">
                    <b-checkbox :native-value="editedProduct['onSale'] " v-model="product.onSale " >On sale</b-checkbox>
                </b-field>
                <ProductEditorCategorySelector :productCategories="[...product.categories]" v-on:checkBoxClicked="categoryCheckBoxClicked" />
                <ProductEditorInput label="Description" placeholder="Description" type="textarea" :maxLength="500" :minLength="5" v-model="editedProduct['description'] " />

                <b-field label="Images">
                    <UploadFileView :images="product.images" :imagesToSave="imagesToSave" />
                </b-field>

                <b-button class="margin-right is-danger" @click="deleteProduct" >Delete</b-button>
                <b-button type="is-info" @click="updateProduct">Save</b-button>
            </div>
            <div class="column is-two-fifths">
                <ProductDetails :product="getOriginalProduct(product)" title="Original product" />
            </div>
        </div>
        <div v-else class="subtitle">
            Please search and select to edit a product.
        </div>

    </div>
</template>

<script>
    import ProductEditorInput from "./ProductEditorInput"
    import ProductEditorCategorySelector from "./ProductEditorCategorySelector";
    import ProductDetails from "./ProductDetails";
    import UploadFileView from "./UploadFileView";
    export default {
        name: "ProductEditor",
        components:{
            UploadFileView,
            ProductDetails,
            ProductEditorCategorySelector,
            ProductEditorInput
        },
        data(){
            return{
                editedProduct: {},
                originalProduct: null,
                imagesToSave: []
            }
        },
        props:{
            product: Object,
            editableProduct: Object
        },
        methods:{
            uploadImages(){
                for(let x = 0; x < this.imagesToSave.length; x++){
                    let reader = new FileReader();
                    reader.readAsDataURL(this.imagesToSave[x]);
                    reader.onload = () => {
                        this.$cloudinary.uploadImage(reader.result).then(response => {
                            let storableImage = {
                                productUuId: this.product.uuId,
                                publicId: response.data.public_id
                            };
                            this.$apiService.storeImage(storableImage).catch(() => {
                                this.$helpers.showErrorToaster(`An error occurred whilst uploading the image ${this.imagesToSave[x].name}`, 'is-top-right')
                            })
                        })
                    }
                }
            },
            updateProduct(){
                this.uploadImages();
                let newProduct = {...this.$props.product, ...this.editedProduct};


                this.$apiService.updateProduct(newProduct).then(response => {
                    if(response.status !== 200) {
                        this.$helpers.showErrorToaster("Error whilst updating product, please try again!", "is-top");
                    }
                    else{
                        this.$helpers.showSuccessToaster("Successfully updated product!", "is-top");
                        this.originalProduct = newProduct;
                        this.resetData();
                    }
                })
            },
            categoryCheckBoxClicked(value, category){
                if(value) this.product.categories.push(category);
                else this.product.categories.splice(this.getIndexOfCategory(category), 1);
            },
            getIndexOfCategory(category){
                for(let x = 0; x < this.product.categories.length; x++){
                    if(category.name === this.product.categories[x].name) {
                        return x;
                    }
                }

                return -1;
            },
            getOriginalProduct(product){
                if(!this.originalProduct || this.originalProduct.uuId !== this.product.uuId) this.originalProduct = JSON.parse(JSON.stringify(product));
                return this.originalProduct;
            },
            deleteProduct(){
                this.$apiService.deleteProduct(this.originalProduct).then(response => {
                    if(response.status === 200){
                        this.$helpers.showDialogWithCallBack('Successfully deleted product', `Successfully deleted product with title: ${this.originalProduct.title}`, 'OK', "is-success", true, () => this.$router.go());
                        this.editedProduct = null;
                        this.originalProduct = null;
                    } else this.$helpers.showErrorToaster(`Error whilst deleting product with title: ${this.originalProduct.title}, please try again`)
                })
            },
            resetData(){
                this.imagesToSave = [];
                this.editedProduct = {};
            }
        }
    }
</script>

<style scoped>
    #productEditor{
        max-height: calc(100vh - 52px);
        overflow-y: auto;
        padding-bottom: 30px;
    }

    .margin-right{
        margin-right: 10px;
    }
</style>