<template>
    <b-field :label="label" class="padding-bottom">
        <b-input :placeholder="placeholder"
                 :type="type"
                 :step="step"
                 :min="min"
                 :max="max"
                 :maxlength="maxLength"
                 :minlength="minLength"
                 :value.sync="value"
                 :required="required"
                 @input="onInput"
                 v-model="value">
        </b-input>
    </b-field>
</template>

<script>
    export default {
        name: "ProductEditorInput",
        props:{
            label: String,
            placeholder: [String, Number],
            min: {
                type: Number,
                default: 1
            },
            max: Number,
            maxLength: Number,
            minLength: Number,
            type: {
                type: String,
                default: 'text'
            },
            step: Number,
            value: [String, Number],
            required: Boolean
        },
        data(){
            return{
                input: ""
            }
        },
        methods:{
            onInput(inputValue){
                this.$emit('input', inputValue);
            }
        }
    }
</script>

<style scoped>
</style>