<template>
    <ul >
        <li v-for="(product, i) in products" :key="i" class="has-text-white productResult" @click="productSelected(product)">
            <span class="has-padding-left">
                {{getProductString(product)}}
            </span>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "SideMenuList",
        props:{
            products: Array
        },
        methods:{
            getProductString(product){
                let productString = "";

                if(product.articleNumber) productString += product.articleNumber + ": ";
                if(product.material) productString += product.material + " ";
                if(product.color) productString += product.color + " ";
                if(product.brand) productString += product.brand + " ";
                if(product.title) productString += product.title + " ";

                if(productString.length > 45) return this.shortenString(42, productString);
                else return productString;
            },
            shortenString(characterCount, text){
                let newString = text.slice(0, characterCount);
                newString += "...";

                return newString
            },
            productSelected(product){
                this.$emit("productSelected", product);
            }
        }
    }
</script>

<style scoped>
    .has-padding-left{
        padding-left: 5px;
        display: block;
    }

    .productResult{
        border-top: 1px solid gray;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .productResult :hover{
        cursor: pointer;
        background-color: #141519;
        text-decoration: underline;
    }
</style>