<template>
    <div class="sideMenu">
        <div class="myLogo">
            <img class="is-marginless" src="../../assets/hol_white.svg" alt="HOL" id="HOLLogo" />
            <span class="logotext">ADMIN</span>
            <section>

                <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
            </section>
        </div>
        <div class="sideMenuContent">
            <div class="has-padding-bottom">
                <label class="has-padding-left">
                    <input class="searchInput has-text-white" placeholder="Search product..." v-debounce="searchProducts" v-model="searchTerm"/>
                </label>
            </div>

            <div class="searchResults">
                <SideMenuList :products="searchResult" v-on:productSelected="productSelected"/>
            </div>
        </div>

    </div>
</template>

<script>
    import SideMenuList from "./SideMenuList";
    export default {
        name: "SideMenu",
        components:{
            SideMenuList
        },
        data() {
            return {
                searchTerm: "",
                searchResult:[],
                isLoading: false,
                isFullPage: false
            };
        },
        methods: {
            searchProducts(){
                if(!this.searchTerm) return;
                this.isLoading = true;

                this.$apiService.getProducts(0, "", this.searchTerm).then(response => {
                    if(response.status === 200) {
                        this.searchResult = response.data.content;
                        this.isLoading = false;
                    }
                    else this.$helpers.showErrorToaster("An error has occurred please try again.", "is-top");
                });
            },
            productSelected(product){
                this.$emit("setSelectedProduct", product)
            }
        }
    }
</script>

<style scoped>
    #HOLLogo{
        height: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .logotext{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        letter-spacing: 1px;
        color: white;
        padding-left: 10px;
    }

    .sideMenuContent{
        padding-top: 1vh;
    }

    .has-padding-left{
        padding-left: 10px;
    }

    .has-padding-bottom{
        padding-bottom: 10px;
    }

    .myLogo{
        height: 50px;
        padding-bottom: 10px;
        background-color: #151921;
    }

    .has-border{
        border-bottom: 2px solid gray;
    }

    .searchInput{
        border: none transparent;
        background-color: transparent;
        color: white;
        height: 30px;
        font-size: 16px;
    }

    .searchInput::placeholder{
        color: white;
    }

    .searchResults{
        max-height: calc(100vh - 60px - 41px);
        overflow-y: auto;
    }
</style>