<template>
    <section>
        <b-field>
            <b-upload
                    v-model="imagesToSave"
                      multiple
                      drag-drop
            >
                <section class="section">
                    <div class="content has-text-centered">
                        <p>
                            <b-icon
                                    icon="upload"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Drop your files here or click to upload</p>
                    </div>
                </section>
            </b-upload>
        </b-field>
        <b-field label="Current images" v-if="currentImages.length > 0" >
            <div class="tags">
                <span v-for="(fileName, index) in currentImages"
                      :key="index"
                      class="tag is-primary" >
                    <span @click="showCurrentImage(fileName)">
                        {{fileName}}
                    </span>

                    <button class="delete is-small"
                            type="button"
                            @click="deleteCurrentImage(index)">
                    </button>
                </span>
            </div>
        </b-field>

        <b-field label="Added images" v-if="addedImages.length > 0">
            <div class="tags">
                <span v-for="(file, index) in addedImages"
                      :key="index"
                      class="tag is-primary" >
                    <span @click="showAddedImage(file)">
                        {{file.name}}
                    </span>

                    <button class="delete is-small"
                            type="button"
                            @click="deleteAddedImage(index)">
                    </button>
                </span>
            </div>
        </b-field>

    </section>
</template>

<script>
    export default {
        name: "UploadFileView",
        data(){
            return{
                isImageModalActive: false,
                currentImages: this.images,
                addedImages: this.imagesToSave
            }
        },
        props: {
            images: Array,
            imagesToSave: Array
        },
        methods: {
            deleteCurrentImage(index) {
                this.currentImages.splice(index, 1);
                this.images = [...this.currentImages, ...this.addedImages];
            },
            deleteAddedImage(index){
                this.addedImages.splice(index, 1);
                this.images = [...this.currentImages, ...this.addedImages];
                console.log(this.addedImages);
            },
            showCurrentImage(fileName) {
                this.$buefy.modal.open(
                    `<p class="image">
                        <img src="https://res.cloudinary.com/degktxldj/image/upload/v1590965843/${fileName}"/>
                    </p>`
                );
            },
            showAddedImage(file){
                this.$buefy.modal.open(
                    `<p class="image">
                        <img src="${URL.createObjectURL(file)}"/>
                    </p>`
                );
            }
        },
        watch:{
            images: function(newVal){
                this.currentImages = newVal;
            },
            imagesToSave: function (newVal) {
                this.addedImages = newVal;
            }
        }
    }
</script>

<style scoped>

</style>